Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.[^\.]*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.json$
        args: ["--check"]
      - id: typecheck
        name: typecheck
        entry: node_modules/.bin/tsc-files
        language: node
        files: \.ts$

This is needed
  .github/workflows/test-e2e-cron.yml
Due: none

revert
  .github/workflows/test-e2e.yml
Due: none

try?
  .github/workflows/test-e2e-cron.yml
Due: none

reusable action instead of workflow
  .github/actions/e2e.yml
  .github/workflows/test-e2e-cron.yml
Due: none

try to find it
  .github/workflows/test-e2e-cron.yml
Due: none

structure
  .github/actions/e2e/action.yml
  .github/workflows/test-e2e-cron.yml
Due: none

refactor
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-e2e-cron.yml
Due: none

finish
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
Due: none

finish
  .github/workflows/test-e2e-cron.yml
Due: none

Remove obsolete
  .github/workflows/reusable-e2e.yml
Due: none

refactor
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
Due: none

Replace useless referenda link with a referendum number
  src/bot-handle-comment.ts
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/types.ts
Due: eslint, typecheck

dot
  src/bot-handle-comment.ts
Due: eslint, typecheck

to number
  src/tip.integration.ts
Due: eslint, typecheck

Comment with a link to Polkassembly referendum (#141)
  src/bot-handle-comment.ts
  src/chain-config.ts
  src/matrix.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/types.ts
Due: eslint, typecheck

change container to ci-unified
  .github/workflows/test-e2e.yml
Due: none

remove rustups
  .github/actions/run-polkadot/action.yml
Due: none

change container in second workflow as well
  .github/workflows/test-e2e-cron.yml
Due: none

Use vars, add readme
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  README.md
Due: none

Add periodic E2E tests against a newest Polkadot release (#147)
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test.yml
  README.md
Due: none

create link
  src/bot-handle-comment.ts
  src/tip-opengov.ts
  src/tip.ts
  src/util.ts
Due: eslint, typecheck

lint
  src/bot-handle-comment.ts
  src/tip-opengov.ts
  src/tip.ts
  src/util.ts
Due: eslint, typecheck

Update util.ts
  src/util.ts
Due: eslint, typecheck

Tip referendum creation link (#151)
  src/bot-handle-comment.ts
  src/tip-opengov.ts
  src/tip.ts
  src/util.ts
Due: eslint, typecheck

Typo in local development (#152)
  src/util.ts
Due: eslint, typecheck

Move charts to its application repos
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Move charts to its application repos (#153)
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Update test-e2e-cron.yml
  .github/workflows/test-e2e-cron.yml
Due: none

Use version sort when determining the latest Polkadot release (#154)
  .github/workflows/test-e2e-cron.yml
Due: none

Yarn & Node.js upgrade
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .gitignore
  .gitlab-ci.yml
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  Dockerfile
  jest.config.js
  nodemon.json
  package.json
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/polkassembly/polkassembly-moonbase.integration.ts
  src/polkassembly/polkassembly.integration.ts
  src/polkassembly/polkassembly.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier, typecheck

key generation
  .github/actions/run-polkadot/action.yml
Due: none

test
  .github/workflows/test-e2e-cron.yml
Due: none

Revert "test"
  .github/workflows/test-e2e-cron.yml
Due: none

update the version in e2e tests
  .github/workflows/test-e2e.yml
Due: none

correct version
  .github/workflows/test-e2e.yml
Due: none

Bump PJS
  package.json
  yarn.lock
Due: prettier

types fix
  src/tip.integration.ts
Due: eslint, typecheck

sign and send, because of nonce issues
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Update the start arguments of a latest Polkadot node and upgrade PJS (#157)
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-e2e.yml
  package.json
  src/tip-opengov.e2e.ts
  src/tip.integration.ts
  yarn.lock
Due: eslint, prettier, typecheck
