Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.[^\.]*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.json$
        args: ["--check"]
      - id: typecheck
        name: typecheck
        entry: node_modules/.bin/tsc-files
        language: node
        files: \.ts$

migrated some methods to papi
  src/balance.ts
  src/bot-initialize.ts
  src/tip-opengov.ts
  src/tip.ts
  src/util.ts
Due: eslint, typecheck

converted referendum id
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

updated util to use papi
  src/util.ts
Due: eslint, typecheck

modified tip-opengov
  src/tip-opengov.ts
  src/tip.ts
Due: eslint, typecheck

modified initialization log
  src/tip.ts
Due: eslint, typecheck

installed the polkadot dependencies
  package.json
  polkadot-api.json
  polkadot.scale
Due: prettier

changed types to use GovernanceOrigin
  src/types.ts
Due: eslint, typecheck

added papi dependency
  package.json
Due: prettier

partially implemented getPolkadotSigner
  src/tip-opengov.ts
Due: eslint, typecheck

updated yarn lock
  yarn.lock
Due: none

updated tip
  src/tip.ts
Due: eslint, typecheck

yarn fix
  src/balance.ts
  src/tip-opengov.ts
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

removed completed TODOs
  src/bot-initialize.ts
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

applied two suggesitons
  src/balance.ts
  src/tip.ts
Due: eslint, typecheck

returned index instead of track
  src/util.ts
Due: eslint, typecheck

removed redundant check
  src/tip-opengov.ts
Due: eslint, typecheck

fix tests so now project compiles
  src/tip.integration.ts
Due: eslint, typecheck

linted project
  polkadot-api.json
  src/balance.ts
  src/util.ts
Due: eslint, prettier, typecheck

updated actions to latest versions
  .github/workflows/github-issue-sync.yml
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
Due: none

got hash to compare proposal
  src/util.ts
Due: eslint, typecheck

Regenerate patch
  .github/workflows/test-e2e.yml
  README.md
  polkadot.e2e.patch
Due: none

Update E2E tests to `v1.14.0` (#159)
  .github/workflows/test-e2e.yml
  README.md
  polkadot.e2e.patch
Due: none

added signer account
  package.json
  src/bot-initialize.ts
  src/tip-opengov.ts
  src/tip.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

Pin node version to 22.4
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  Dockerfile
  package.json
Due: prettier

Fix was released
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  Dockerfile
  package.json
Due: prettier

Specify node version to omit `2.5.0` (#160)
  .github/workflows/test-e2e-cron.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  Dockerfile
  package.json
Due: prettier

moved more typings
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/polkassembly/polkassembly.ts
  src/tip-opengov.e2e.ts
  src/tip.integration.ts
Due: eslint, typecheck

fixed remaining types
  src/polkassembly/polkassembly.integration.ts
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Bump polkadot in tests
  .github/workflows/test-e2e.yml
Due: none

Bump Polkadot version in E2E tests (#162)
  .github/workflows/test-e2e.yml
Due: none

Typescript fixes
  .github/workflows/test-e2e.yml
  .papi/descriptors/.gitignore
  .papi/descriptors/package.json
  .papi/metadata/kusama.scale
  .papi/metadata/polkadot.scale
  .papi/metadata/rococo.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  Dockerfile
  README.md
  jest.config.js
  jest.resolver.js
  package.json
  polkadot-api.json
  polkadot.e2e.patch
  polkadot.scale
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/chain-config.ts
  src/papi.ts
  src/polkassembly/polkassembly.integration.ts
  src/polkassembly/polkassembly.ts
  src/testUtil.ts
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/tip.ts
  src/types.ts
  src/util.test.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Fixed e2e tests
  README.md
  package.json
  src/tip-opengov.e2e.ts
  src/tip.ts
  yarn.lock
Due: eslint, prettier, typecheck

Fixing integration tests
  .gitignore
  .papi/metadata/localrococo.scale
  .papi/metadata/localwestend.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  package.json
  src/polkassembly/polkassembly-moonbase.integration.ts
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/tip.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Finishing touches
  .github/workflows/test-integration.yml
  .gitignore
  .papi/polkadot-api.json
  package.json
  src/balance.ts
  src/chain-config.ts
  src/papi.ts
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/tip.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

Update src/polkassembly/polkassembly.integration.ts
  src/polkassembly/polkassembly.integration.ts
Due: eslint, typecheck

Update src/tip.integration.ts
  src/tip.integration.ts
Due: eslint, typecheck

More permssive input
  src/bot-handle-comment.ts
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

Fixed for local run
  README.md
  package.json
Due: prettier

Integration tests in docker
  .dockerignore
  .github/workflows/test-integration.yml
  .papi/polkadot-api-integration.json
  Dockerfile
  package.json
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/chain-config.ts
  src/tip.integration.ts
  src/util.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier, typecheck
