Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

typecheck:
  name: typecheck
  entry: node_modules/.bin/tsc-files
  language: node

update deps (#186)
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-e2e.yml
  .papi/descriptors/package.json
  .papi/metadata/kusama.scale
  .papi/metadata/polkadot.scale
  .papi/metadata/rococo.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  package.json
  polkadot.e2e.patch
  src/bot-initialize.ts
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/tip.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Log balances and addresses
  src/balance.ts
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/chain-config.ts
  src/types.ts
Due: eslint, typecheck

Log balances and addresses (#188)
  src/balance.ts
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/chain-config.ts
  src/types.ts
Due: eslint, typecheck

switch to ah
  .papi/descriptors/package.json
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  src/balance.ts
  src/tip-opengov.ts
Due: eslint, prettier, typecheck

Update balance.ts
  src/balance.ts
Due: eslint, typecheck

Update polkadot-api.json
  .papi/polkadot-api.json
Due: prettier

switch westend to ah (#189)
  .papi/descriptors/package.json
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  src/tip-opengov.ts
Due: eslint, prettier, typecheck

ci: new deploy
  .github/workflows/ci.yml
  .github/workflows/publish-deploy.yml
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  manifest-production.yaml
  manifest-staging.yaml
  manifest.yaml
Due: none

ci: new deploy (#192)
  .github/workflows/ci.yml
  .github/workflows/publish-deploy.yml
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  manifest-production.yaml
  manifest-staging.yaml
  manifest.yaml
Due: none

AH migration for Kusama and Polkadot
  .papi/descriptors/package.json
  .papi/metadata/kusama.scale
  .papi/metadata/polkadot.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  package.json
  src/tip.ts
  yarn.lock
Due: eslint, prettier, typecheck

vite migration
  .eslintrc.js
  .gitignore
  jest.config.js
  jest.e2e.config.js
  jest.integration.config.js
  jest.resolver.js
  package.json
  src/vitest.d.ts
  tsconfig.json
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.integration.config.ts
  yarn.lock
Due: eslint, prettier, typecheck

Fix docker build
  .dockerignore
  .prettierignore
Due: none

AH migration for Kusama and Polkadot (#193)
  .dockerignore
  .eslintrc.js
  .gitignore
  .papi/descriptors/package.json
  .papi/metadata/kusama.scale
  .papi/metadata/polkadot.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  .prettierignore
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  jest.config.js
  jest.e2e.config.js
  jest.integration.config.js
  jest.resolver.js
  package.json
  src/tip.ts
  src/vitest.d.ts
  tsconfig.json
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.integration.config.ts
  yarn.lock
Due: eslint, prettier, typecheck

node.js upgrade
  Dockerfile
Due: none

node.js upgrade (#194)
  Dockerfile
Due: none

update polkadot scale, and remove rococo
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-integration.yml
  .papi/descriptors/package.json
  .papi/metadata/polkadot.scale
  .papi/metadata/rococo.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  README.md
  polkadot.e2e.patch
  src/balance.ts
  src/chain-config.ts
  src/tip-opengov.e2e.ts
  src/tip.integration.ts
  src/types.ts
  src/util.ts
Due: eslint, prettier, typecheck

Update tip.integration.ts
  src/tip.integration.ts
Due: eslint, typecheck

Update test-integration.yml
  .github/workflows/test-integration.yml
Due: none

vite v6
  package.json
  yarn.lock
Due: prettier

v6
  package.json
  yarn.lock
Due: prettier

update polkadot scale, and remove rococo (#195)
  .github/actions/run-polkadot/action.yml
  .github/workflows/test-integration.yml
  .papi/descriptors/package.json
  .papi/metadata/polkadot.scale
  .papi/metadata/rococo.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  README.md
  package.json
  polkadot.e2e.patch
  src/balance.ts
  src/chain-config.ts
  src/tip-opengov.e2e.ts
  src/tip.integration.ts
  src/types.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: \.[^\.]*(t|j)s$
  prettier: any of: \.json$
  typecheck: any of: \.ts$
