Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

typecheck:
  name: typecheck
  entry: node_modules/.bin/tsc-files
  language: node

Load env variables locally (#164)
  README.md
  package.json
Due: prettier

disable link creation for now
  src/bot-handle-comment.ts
Due: eslint, typecheck

lint
  src/bot-handle-comment.ts
Due: eslint, typecheck

Fixing tip links
  README.md
  package.json
  src/bot-handle-comment.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/tip.ts
  yarn.lock
Due: eslint, prettier, typecheck

Update README.md
  README.md
Due: none

use stable
  .github/workflows/test-e2e-cron.yml
Due: none

test
  .github/workflows/test-e2e-cron.yml
Due: none

cleanup
  .github/workflows/test-e2e-cron.yml
Due: none

Use `polkadot-stable*` tags for cron-bases E2E tests (#174)
  .github/workflows/test-e2e-cron.yml
Due: none

PAPI upgrade + better link testcase
  .papi/descriptors/package.json
  .papi/metadata/localrococo.scale
  .papi/metadata/localwestend.scale
  .papi/polkadot-api-integration.json
  .papi/polkadot-api.json
  README.md
  jest.e2e.config.js
  package.json
  src/balance.ts
  src/chain-config.ts
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/tip.ts
  src/types.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Deploying to staging from staging tags
  .gitlab-ci.yml
Due: none

Using application token for querying tip-bot-approvers team
  src/bot-handle-comment.ts
Due: eslint, typecheck

omit rc
  .github/workflows/test-e2e-cron.yml
Due: none

test it
  .github/workflows/test-e2e-cron.yml
Due: none

fixup
  .github/workflows/test-e2e-cron.yml
Due: none

rollback
  .github/workflows/test-e2e-cron.yml
Due: none

Don't use prerelase versions for E2E tests (#176)
  .github/workflows/test-e2e-cron.yml
Due: none

Testing
  jest.integration.config.js
  package.json
  src/bot-handle-comment.ts
  src/tip.integration.ts
  yarn.lock
Due: eslint, prettier, typecheck

Using correct tokens for multi org setup
  jest.integration.config.js
  package.json
  src/bot-handle-comment.ts
  src/tip.integration.ts
  yarn.lock
Due: eslint, prettier, typecheck

Correct PR link for other orgs
  src/bot-handle-comment.ts
  src/polkassembly/polkassembly-moonbase.integration.ts
  src/tip-opengov.e2e.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Using an org link for "only members of..." comment
  src/bot-handle-comment.ts
  src/tip.integration.ts
Due: eslint, typecheck

[WIP] ci: migrate from gitlab to github
  .github/workflows/ci.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
Due: none

add deploy workflow
  .github/workflows/publish-deploy.yml
Due: none

rm gitlab
  .github/workflows/gitspiegel-trigger.yml
  .gitlab-ci.yml
Due: none

fix deploy
  .github/workflows/publish-deploy.yml
Due: none

fix teleport token, add prod deploy condition
  .github/workflows/publish-deploy.yml
Due: none

ci: migrate from gitlab to github (#183)
  .github/workflows/ci.yml
  .github/workflows/gitspiegel-trigger.yml
  .github/workflows/publish-deploy.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .gitlab-ci.yml
Due: none

less traumatizing message
  src/util.ts
Due: eslint, typecheck

networks
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

Adjust text to mention OpenGov
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

More friendly first tip message (#185)
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

Update CODEOWNERS
  CODEOWNERS
Due: none

update deps
  .github/workflows/test-e2e.yml
  .papi/descriptors/package.json
  .papi/metadata/kusama.scale
  .papi/metadata/polkadot.scale
  .papi/metadata/rococo.scale
  .papi/metadata/westend.scale
  .papi/polkadot-api.json
  package.json
  yarn.lock
Due: prettier

Update util.ts
  src/util.ts
Due: eslint, typecheck

fixes to types
  src/bot-initialize.ts
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip.integration.ts
Due: eslint, typecheck

tests lint
  .github/actions/run-polkadot/action.yml
  src/bot-initialize.ts
  src/tip-opengov.ts
  src/tip.integration.ts
  src/util.ts
Due: eslint, typecheck

fix patch and testts
  polkadot.e2e.patch
  src/bot-initialize.ts
Due: eslint, typecheck

Update tip.ts
  src/tip.ts
Due: eslint, typecheck

Update tip.integration.ts
  src/tip.integration.ts
Due: eslint, typecheck

Path conditions:
  eslint: any of: \.[^\.]*(t|j)s$
  prettier: any of: \.json$
  typecheck: any of: \.ts$
