Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

typecheck:
  name: typecheck
  entry: node_modules/.bin/tsc-files
  language: node

Refactor url construction (#49)
  src/chain-config.ts
Due: eslint, typecheck

Introduce balance metrics.
  src/balance.ts
  src/bot.ts
  src/chain-config.ts
  src/metrics.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Throwonconnect so it's not blocking
  src/balance.ts
  src/bot.ts
Due: eslint, typecheck

Lint
  src/balance.ts
Due: eslint, typecheck

Deploy to prod on release
  .gitlab-ci.yml
Due: none

Deploy to prod on release (#51)
  .gitlab-ci.yml
Due: none

Add more stages to the release pipeline
  .gitlab-ci.yml
Due: none

Add more stages to the release pipeline (#52)
  .gitlab-ci.yml
Due: none

Remove local* from initial balance checks.
  src/balance.ts
Due: eslint, typecheck

Refactor tip types
  src/bot.ts
  src/chain-config.ts
  src/metrics.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Finishing
  README.md
  src/tip.test.ts
Due: eslint, typecheck

Finishing readme
  src/tip.test.ts
Due: eslint, typecheck

Add tip bot balance to metrics (#50)
  src/balance.ts
  src/bot.ts
  src/chain-config.ts
  src/metrics.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Remove unnecessary omit
  src/chain-config.ts
Due: eslint, typecheck

Automatically "detect" the governance of the chain (#53)
  README.md
  src/bot.ts
  src/chain-config.ts
  src/metrics.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

Update package.json
  package.json
Due: prettier

Specify delay and period for healthchecks
  helm/values.yaml
Due: none

Update package.json version (#55)
  package.json
Due: prettier

Revamp responding on result
  src/bot.ts
Due: eslint, typecheck

Comma
  src/bot.ts
Due: eslint, typecheck

consistency
  src/bot.ts
Due: eslint, typecheck

Revamp the way that bot handles responding (#58)
  src/bot.ts
Due: eslint, typecheck

Specify delay and period for healthchecks (#56)
  helm/values.yaml
Due: none

Throw on connection failure.
  src/tip.ts
Due: eslint, typecheck

Change secrets paths
  .gitlab-ci.yml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

fix: #60, Check if preimage exists on chain before creating a proposal
  .eslintrc.js
  README.md
  package.json
  src/tip-opengov.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

remove console.log
  src/tip-opengov.ts
Due: eslint, typecheck

Fix length for Lookup
  src/tip-opengov.ts
Due: eslint, typecheck

Throw on connection failure (#57)
  src/tip.ts
Due: eslint, typecheck

Wrap the Polkadot API creation in a beforeAll
  src/tip.test.ts
Due: eslint, typecheck

fix: #60, Check if preimage exists on chain before creating a proposal (#61)
  .eslintrc.js
  README.md
  package.json
  src/tip-opengov.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

Wrap the Polkadot API creation in a beforeAll (#63)
  src/tip.test.ts
Due: eslint, typecheck

Update README.md
  README.md
Due: none

do not reject on Broadcast event
  src/tip-opengov.ts
Due: eslint, typecheck

do not reject on Broadcast event (#66)
  src/tip-opengov.ts
Due: eslint, typecheck

remove nonce + add few more logs to invalid transaction logs
  src/tip-opengov.ts
Due: eslint, typecheck

remove nonce + add few more logs to invalid transaction logs (#68)
  src/tip-opengov.ts
Due: eslint, typecheck

Add a numeric value to opengov tip sizes
  src/util.ts
Due: eslint, typecheck

Update README - tip sizes (#64)
  README.md
Due: none

Path conditions:
  eslint: any of: \.[^\.]*(t|j)s$
  prettier: any of: \.json$
  typecheck: any of: \.ts$
