Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

typecheck:
  name: typecheck
  entry: node_modules/.bin/tsc-files
  language: node

Update the way we calculate byte size of the proposals
  src/util.ts
Due: eslint, typecheck

Finish it
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

Update tests
  src/tip.integration.ts
Due: eslint, typecheck

Update the way we calculate byte size of the proposals (#118)
  src/tip-opengov.ts
  src/tip.integration.ts
  src/util.ts
Due: eslint, typecheck

Typo in Chart.yaml
  helm/Chart.yaml
Due: none

Typo in helm chart (#119)
  helm/Chart.yaml
Due: none

[ci] Fix buildah
  .gitlab-ci.yml
Due: none

normalise relative tip sizes
  README.md
  src/chain-config.ts
Due: eslint, typecheck

fix e2e test
  src/chain-config.ts
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Rename - those are integration
  src/polkassembly/polkassembly-moonbase.integration.ts
  src/polkassembly/polkassembly.integration.ts
Due: eslint, typecheck

Run integration tests with testcontainers
  .github/workflows/test.yml
  README.md
  package.json
  src/tip.integration.ts
  yarn.lock
Due: eslint, prettier, typecheck

Update Polkassembly - requires network for signup/login now
  src/polkassembly/polkassembly-moonbase.integration.ts
  src/polkassembly/polkassembly.integration.ts
  src/polkassembly/polkassembly.ts
  src/tip-opengov.ts
Due: eslint, typecheck

Finish test
  src/polkassembly/polkassembly.integration.ts
Due: eslint, typecheck

Normalize DOT/KSM tip size purchasing power (#121)
  README.md
  src/chain-config.ts
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Verbose to debug
  .github/workflows/test.yml
Due: none

Rollback verbose option
  .github/workflows/test.yml
Due: none

Increase timeout because we're waiting on block finalization in there
  jest.integration.config.js
Due: eslint

Upgrade jest, add verbosity
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier

Update Polkassembly API integration (#123)
  .github/workflows/test.yml
  jest.integration.config.js
  package.json
  src/polkassembly/polkassembly-moonbase.integration.ts
  src/polkassembly/polkassembly.integration.ts
  src/polkassembly/polkassembly.ts
  src/tip-opengov.ts
  yarn.lock
Due: eslint, prettier, typecheck

premerge
  yarn.lock
Due: none

Postmerge
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Update README.md (#126)
  README.md
Due: none

Adding gitspiegel-trigger workflow
  .github/workflows/gitspiegel-trigger.yml
Due: none

Fixing gitspiegel trigger workflow
  .github/workflows/gitspiegel-trigger.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Cache whole release target directory (#130)
  .github/workflows/test.yml
Due: none

Run integration tests with testcontainers (#124)
  .github/workflows/test.yml
  README.md
  package.json
  src/tip.integration.ts
  yarn.lock
Due: eslint, prettier, typecheck

update vault auth
  .gitlab-ci.yml
Due: none

Add topic id to edited post
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Add topic to edited post (#134)
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Change wording
  src/bot-handle-comment.ts
Due: eslint, typecheck

Keep cache
  .github/workflows/keep-polkadot-cache.yml
Due: none

is container needed?
  .github/workflows/keep-polkadot-cache.yml
Due: none

Explain
  .github/workflows/keep-polkadot-cache.yml
Due: none

Change comment to be more precise (#135)
  src/bot-handle-comment.ts
Due: eslint, typecheck

Keep Polkadot cache warm (#136)
  .github/workflows/keep-polkadot-cache.yml
Due: none

Path conditions:
  eslint: any of: \.[^\.]*(t|j)s$
  prettier: any of: \.json$
  typecheck: any of: \.ts$
