Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.[^\.]*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.json$
        args: ["--check"]
      - id: typecheck
        name: typecheck
        entry: node_modules/.bin/tsc-files
        language: node
        files: \.ts$

Master, not main here
  .github/workflows/test.yml
Due: none

Unsubscribe from transaction upon error
  src/tip-opengov.ts
Due: eslint, typecheck

Use released versions of eng-automation packages (#89)
  .eslintrc.js
  .gitlab-ci.yml
  .prettierrc.js
  Dockerfile
  package.json
  src/bot.ts
  src/tip-opengov.ts
  yarn.lock
Due: eslint, prettier, typecheck

Network concurrency no longer needed
  .github/workflows/test.yml
Due: none

Fix import
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Unsubscribe from transaction upon error (#92)
  src/tip-opengov.ts
Due: eslint, typecheck

Run integration and E2E tests on CI (#91)
  .github/workflows/test.yml
  README.md
  polkadot.e2e.patch
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
Due: eslint, typecheck

Node.js upgrade
  .gitlab-ci.yml
  Dockerfile
  babel.config.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

Start introducing matrix notification
  .env.example
Due: none

Implement the feature
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/bot.ts
  src/types.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Lint
  src/bot.ts
  src/util.ts
Due: eslint, typecheck

Remove nesting
  src/bot.ts
Due: eslint, typecheck

Include all
  src/util.ts
Due: eslint, typecheck

Remove obsolete variable
  helm/values-parity-stg.yaml
Due: none

Remove obsolete variable (#95)
  helm/values-parity-stg.yaml
Due: none

Introduce Matrix notifications (#94)
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/bot.ts
  src/types.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Remove obsolete variables
  .env.example
  helm/values-parity-stg.yaml
Due: none

Add comments about variables not used directly in code
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Update prod as well
  helm/values-parity-prod.yaml
Due: none

Remove obsolete variables (#97)
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Inline the preimages in the referendum
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

Disconnect ApiPromise after balance check
  src/balance.ts
Due: eslint, typecheck

Remove unnecessary catch
  src/balance.ts
Due: eslint, typecheck

Disconnect ApiPromise after balance check (#101)
  src/balance.ts
Due: eslint, typecheck

Add tests for parseContributorAccount
  src/util.test.ts
Due: eslint, typecheck

Finish the feature
  src/bot.ts
  src/tip-opengov.e2e.ts
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

Important distinction
  src/bot.ts
Due: eslint, typecheck

Minimize diff
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Re-use util function
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Re-use utility function (#103)
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Add comments about variables not used directly in code (#98)
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Read the contributor address from their github profile (bio) (#102)
  src/bot.ts
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

Inline the preimages in the referendum (#100)
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

Extract proposal encoding, and add `getReferendumId` with tests
  src/tip-opengov.ts
  src/tip.integration.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Add explanation about the event data type
  src/util.ts
Due: eslint, typecheck

Typo
  src/tip.integration.ts
Due: eslint, typecheck

Extract variable
  src/tip-opengov.ts
Due: eslint, typecheck

Lint
  src/util.ts
Due: eslint, typecheck

Add more logs to Polkassembly integration
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Finish it
  src/bot.ts
  src/polkassembly/polkassembly-moonbase.test.ts
  src/polkassembly/polkassembly.test.ts
  src/testUtil.ts
Due: eslint, typecheck
