Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

typecheck:
  name: typecheck
  entry: node_modules/.bin/tsc-files
  language: node

WIP: opengov support
  src/tip-opengov.ts
Due: eslint, typecheck

Upgrade and add polkadot deps
  package.json
Due: prettier

Introduce jest
  jest.config.js
  package.json
  src/tip.test.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier, typecheck

Extract types
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

Do not silently override settings
  src/tip.ts
Due: eslint, typecheck

Tests with break points working
  src/tip.test.ts
  tsconfig.json
Due: eslint, prettier, typecheck

Split opengov and gov1
  jest.config.js
  package.json
  src/bot.ts
  src/tip-gov1.ts
  src/tip-opengov.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Next steps - nonces, tip sizes, skipping finalization in tests
  src/tip-gov1.ts
  src/tip-opengov.ts
  src/tip.test.ts
  src/tip.ts
  src/util.ts
Due: eslint, typecheck

Adding comments and constants
  src/constants.ts
  src/tip-gov1.ts
  src/tip-opengov.ts
  src/tip.test.ts
  src/util.ts
Due: eslint, typecheck

Finishing
  README.md
  src/tip-opengov.ts
  src/tip.test.ts
Due: eslint, typecheck

you don't connect it, you don't disconnect it
  src/tip-gov1.ts
Due: eslint, typecheck

Disconnect on failure as well
  src/tip.ts
Due: eslint, typecheck

Rename
  src/tip-opengov.ts
Due: eslint, typecheck

Rename gov1 to treasury
  src/bot.ts
  src/constants.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

Extract format string for reuse
  src/tip-treasury.ts
  src/util.ts
Due: eslint, typecheck

Add on-chain reason in opengov using a remark
  src/tip-opengov.ts
Due: eslint, typecheck

Extract chain config non-dependtend on state, and one-time initialization of tipBotAccount
  src/bot.ts
  src/chain-config.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Start refactor related to chain configs
  src/chain-config.ts
  src/tip.test.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Don't create wsprovider in a (now) static config
  src/chain-config.ts
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

Fix test setup
  src/tip.test.ts
Due: eslint, typecheck

Finish refactoring chain config
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Allow numer tip size input. Format tip size in user-facing string.
  src/bot.ts
  src/chain-config.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Add user-facing errors - when exceeding top of the big tipper track
  src/bot.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

fixup! Allow numer tip size input. Format tip size in user-facing string.
  src/bot.ts
Due: eslint, typecheck

Test exact tip values
  src/tip.test.ts
Due: eslint, typecheck

test huge exact tips
  src/tip.test.ts
Due: eslint, typecheck

format
  src/tip.test.ts
Due: eslint, typecheck

Comments
  src/chain-config.ts
Due: eslint, typecheck

Removed unused file
  src/constants.ts
Due: eslint, typecheck

Introduce OpenGov support (#45)
  README.md
  jest.config.js
  package.json
  src/bot.ts
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
  src/util.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier, typecheck

Introduce the prom-client
  package.json
  src/bot.ts
  src/metrics.ts
  yarn.lock
Due: eslint, prettier, typecheck

Finish first version of metrics
  src/bot.ts
  src/metrics.ts
Due: eslint, typecheck

Add health and metrics to helm
  helm/values.yaml
  src/metrics.ts
Due: eslint, typecheck

Lint
  src/bot.ts
  src/metrics.ts
Due: eslint, typecheck

Restore removed line
  src/bot.ts
Due: eslint, typecheck

[ci] Update buildah command and version
  .gitlab-ci.yml
Due: none

Add health and metrics (#47)
  helm/values.yaml
  package.json
  src/bot.ts
  src/metrics.ts
  yarn.lock
Due: eslint, prettier, typecheck

Refactor url construction
  src/chain-config.ts
Due: eslint, typecheck

Lint
  src/chain-config.ts
Due: eslint, typecheck

Path conditions:
  eslint: any of: \.[^\.]*(t|j)s$
  prettier: any of: \.json$
  typecheck: any of: \.ts$
