Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.[^\.]*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.json$
        args: ["--check"]
      - id: typecheck
        name: typecheck
        entry: node_modules/.bin/tsc-files
        language: node
        files: \.ts$

Run unit tests on CI (#82)
  .gitlab-ci.yml
  README.md
  jest.integration.config.js
  package.json
  src/tip.integration.ts
Due: eslint, prettier, typecheck

Switch Polkadot to opengov, remove treasury tips
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Update the tests
  README.md
  src/tip.integration.ts
Due: eslint, typecheck

Use markdown for Polkassembly post content
  src/polkassembly/polkassembly-moonbase.test.ts
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

Lint
  src/tip.integration.ts
Due: eslint, typecheck

Try services
  .github/workflows/test.yml
Due: none

Options
  .github/workflows/test.yml
Due: none

Services cannot be parametrized, running docker containers in a step
  .github/workflows/test.yml
Due: none

That again?
  .github/workflows/test.yml
Due: none

Use released versions of opstooling packages
  package.json
  src/bot.ts
  src/tip-opengov.ts
  yarn.lock
Due: eslint, prettier, typecheck

Use OpenGov for Polkadot tips (#87)
  README.md
  src/chain-config.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.integration.ts
  src/tip.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Remove a too-verbose log
  src/tip-opengov.ts
Due: eslint, typecheck

Let's try it
  .github/workflows/test.yml
Due: none

Mock build
  .github/workflows/test.yml
Due: none

ref
  .github/workflows/test.yml
Due: none

Try to build it on-ci
  .github/workflows/test.yml
Due: none

Use released js-style
  .eslintrc.js
  .gitlab-ci.yml
  .prettierrc.js
  Dockerfile
  package.json
  yarn.lock
Due: eslint, prettier

Prep from readme
  .github/workflows/test.yml
Due: none

Add protoc
  .github/workflows/test.yml
Due: none

update
  .github/workflows/test.yml
Due: none

protoc
  .github/workflows/test.yml
Due: none

Try to use ci-linux
  .github/workflows/test.yml
Due: none

Remove a log that was too verbose (#90)
  src/tip-opengov.ts
Due: eslint, typecheck

Try it out
  .github/workflows/test.yml
Due: none

Speed it up even more
  polkadot.e2e.patch
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Add yarn, change order
  .github/workflows/test.yml
Due: none

More speed
  README.md
Due: none

Fix dirs
  .github/workflows/test.yml
Due: none

Yarn
  .github/workflows/test.yml
Due: none

fix to be removed later
  .github/workflows/test.yml
Due: none

Wait for it
  .github/workflows/test.yml
Due: none

Minimize diff, use wait until
  README.md
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Cleanup
  .github/workflows/test.yml
Due: none

Use markdown for Polkassembly post content (#88)
  src/polkassembly/polkassembly-moonbase.test.ts
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

Let us skip finalization wait in a test env
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
Due: eslint, typecheck

final cleanup
  .github/workflows/test.yml
Due: none
