Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.[^\.]*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.json$
        args: ["--check"]
      - id: typecheck
        name: typecheck
        entry: node_modules/.bin/tsc-files
        language: node
        files: \.ts$

[ci] Add .gitlab-ci and CODEOWNERS
  .gitlab-ci.yml
  CODEOWNERS
  Dockerfile
Due: none

add lint
  package.json
Due: prettier

fix lint/prettier
  .gitignore
  package.json
  yarn.lock
Due: prettier

remove gha pre-commit, and replace with gitlab
  .github/workflows/pre-commit.yml
  package.json
  yarn.lock
Due: prettier

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix linter
  package.json
Due: prettier

test lint job
  .gitlab-ci.yml
Due: none

change node ci image
  .gitlab-ci.yml
Due: none

pretty package.json
  package.json
Due: prettier

remove pre-commit config
  .pre-commit-config.yaml
Due: none

add git apk Dockerfile
  Dockerfile
Due: none

enable deploy
  .gitlab-ci.yml
Due: none

add helm
  helm/.gitignore
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

add secrets
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

remove useless rules
  .gitlab-ci.yml
Due: none

moved few tip-related methods to its own module; added more details into documentation
  Dockerfile
  README.md
  src/bot.ts
  src/github.ts
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

Update README.md
  README.md
Due: none

[helm] add ALLOWED_USERS
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Add APP_ID
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Fix helm service port
  helm/values.yaml
Due: none

bump deps
  package.json
  yarn.lock
Due: prettier

main fixes
  src/tip.ts
Due: eslint, typecheck

fix fix
  src/tip.ts
Due: eslint, typecheck

Accept both \tip and /tip
  src/bot.ts
Due: eslint, typecheck

Update bot.ts
  src/bot.ts
Due: eslint, typecheck

[ci] Fix buildah
  .gitlab-ci.yml
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Codestyle update
  .eslintrc.js
  package.json
  src/bot.ts
  src/github.ts
  src/tip.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

Moving list of approvers from .env to GitHub team
  .env.example
  .gitlab-ci.yml
  Dockerfile
  README.md
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/bot.ts
  src/github.ts
  src/tip.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

Fixing PRIVATE_KEY_BASE64
  src/bot.ts
Due: eslint, typecheck

Readme update: mentioned tip-bot-approvers team
  README.md
Due: none

[ci] deploy from new runners
  .gitlab-ci.yml
Due: none

ci: created github-issue-sync workflow file
  .github/workflows/github-issue-sync.yml
  README.md
Due: none

ci: created github-issue-sync workflow file (#40)
  .github/workflows/github-issue-sync.yml
  README.md
Due: none

Change the localtest address from localhost to 127.0.0.1
  src/tip.ts
Due: eslint, typecheck

Add dotenv/config to nodemon launch parameters
  nodemon.json
Due: prettier

Improves error handling and user message
  src/bot.ts
Due: eslint, typecheck

Applies formatting rules to src/tip.ts
  src/tip.ts
Due: eslint, typecheck

Add CI job to publish docker image description to hub.docker.com
  .gitlab-ci.yml
  Dockerfile.README.md
Due: none
