Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.[^\.]*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.json$
        args: ["--check"]
      - id: typecheck
        name: typecheck
        entry: node_modules/.bin/tsc-files
        language: node
        files: \.ts$

Add a numeric value to opengov tip sizes
  src/util.ts
Due: eslint, typecheck

Add emoji reactions
  src/bot.ts
Due: eslint, typecheck

Display numeric value of named OpenGov tips (#70)
  src/util.ts
Due: eslint, typecheck

Add emoji reactions (#72)
  src/bot.ts
Due: eslint, typecheck

Do not add a remark to the tip proposal
  src/tip-opengov.ts
Due: eslint, typecheck

Lint
  src/tip-opengov.ts
Due: eslint, typecheck

Do not add a remark to the tip proposal (#75)
  src/tip-opengov.ts
Due: eslint, typecheck

Add a patch
  polkadot.e2e.patch
Due: none

Finish the test
  README.md
  jest.e2e.config.js
  package.json
  src/tip-opengov.e2e.ts
Due: eslint, prettier, typecheck

WIP - nothing is working
  package.json
  src/polkassembly/polkassembly.test.ts
  src/polkassembly/polkassembly.ts
  yarn.lock
Due: eslint, prettier, typecheck

Sign up and login are working
  src/polkassembly/polkassembly.test.ts
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Introduce an E2E tests for an opengov tip (#77)
  README.md
  jest.e2e.config.js
  package.json
  polkadot.e2e.patch
  src/tip-opengov.e2e.ts
Due: eslint, prettier, typecheck

Introduce track numbers (for polkassembly filters)
  src/tip-opengov.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

lint-fixed Polkassembly with new features
  package.json
  src/polkassembly/polkassembly.ts
Due: eslint, prettier, typecheck

yarn-lock
  yarn.lock
Due: none

Cleanup
  src/polkassembly/polkassembly.test.ts
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Another test case
  src/polkassembly/polkassembly.test.ts
Due: eslint, typecheck

use botTipAccount from state
  .env.example
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.ts
Due: eslint, typecheck

Re-use test util
  src/testUtil.ts
  src/tip.test.ts
Due: eslint, typecheck

add polkassembly instance to the state
  src/bot.ts
  src/types.ts
Due: eslint, typecheck

Envs
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Invoke the metadata update in opengov tip
  src/tip-opengov.ts
Due: eslint, typecheck

Lint
  src/bot.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/types.ts
Due: eslint, typecheck

Fine tune the old test
  src/tip-opengov.e2e.ts
Due: eslint, typecheck

Lint, moonbase
  src/chain-config.ts
  src/testUtil.ts
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
  src/util.ts
Due: eslint, typecheck

Cleanup
  src/chain-config.ts
  src/polkassembly/polkassembly.ts
  src/util.ts
Due: eslint, typecheck

Commit the moonbase manual test
  src/polkassembly/polkassembly-moonbase.test.ts
Due: eslint, typecheck

Cleanup
  .env.example
  src/polkassembly/polkassembly-moonbase.test.ts
Due: eslint, typecheck

Cleanup
  src/polkassembly/polkassembly-moonbase.test.ts
Due: eslint, typecheck

Cleanup
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Remove hardcoded network
  src/polkassembly/polkassembly.test.ts
  src/polkassembly/polkassembly.ts
  src/tip-opengov.ts
Due: eslint, typecheck

Correct mishandled error
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Introduce Polkassembly API integration (#79)
  .env.example
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/bot.ts
  src/polkassembly/polkassembly-moonbase.test.ts
  src/polkassembly/polkassembly.test.ts
  src/polkassembly/polkassembly.ts
  src/testUtil.ts
  src/tip-opengov.e2e.ts
  src/tip-opengov.ts
  src/tip-treasury.ts
  src/tip.test.ts
  src/tip.ts
  src/types.ts
  src/util.ts
  yarn.lock
Due: eslint, prettier, typecheck

Correct dumb mistake
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Correctly handle an error in the login-or-signup flow (#80)
  src/polkassembly/polkassembly.ts
Due: eslint, typecheck

Run integration tests
  .gitlab-ci.yml
  README.md
  jest.integration.config.js
  package.json
  src/tip.integration.ts
Due: eslint, prettier, typecheck

Run unit tests
  .gitlab-ci.yml
  README.md
  jest.integration.config.js
  package.json
  src/tip.integration.ts
Due: eslint, prettier, typecheck

Use polkadot.js getter to determine extrinsic error
  src/tip-opengov.ts
Due: eslint, typecheck

Use polkadot.js getter to determine extrinsic error (#83)
  src/tip-opengov.ts
Due: eslint, typecheck
