Repository paritytech/substrate-tip-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

typecheck:
  name: typecheck
  entry: node_modules/.bin/tsc-files
  language: node

Initial split
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/bot.ts
Due: eslint, typecheck

Don't tag people in matrix when testing
  nodemon.json
  src/util.ts
Due: eslint, prettier, typecheck

Add a missing error handler
  src/tip-opengov.ts
Due: eslint, typecheck

Rename
  src/bot-handle-comment.ts
Due: eslint, typecheck

Add more logs to Polkassembly integration (#105)
  src/bot.ts
  src/polkassembly/polkassembly-moonbase.test.ts
  src/polkassembly/polkassembly.test.ts
  src/polkassembly/polkassembly.ts
  src/testUtil.ts
Due: eslint, typecheck

Don't tag people in matrix when testing (#106)
  nodemon.json
  src/util.ts
Due: eslint, prettier, typecheck

Lint
  src/bot-initialize.ts
Due: eslint, typecheck

Add a missing error handler around transaction sending (#107)
  src/tip-opengov.ts
Due: eslint, typecheck

Refactor the main entrypoint of the bot (#108)
  src/bot-handle-comment.ts
  src/bot-initialize.ts
  src/bot.ts
Due: eslint, typecheck

extract tryGetReferendumId
  src/tip-opengov.ts
Due: eslint, typecheck

Extract tryUpdatingPolkassemblyPost
  src/tip-opengov.ts
Due: eslint, typecheck

comment
  src/tip-opengov.ts
Due: eslint, typecheck

Skip early if not mentioned
  src/bot-handle-comment.ts
Due: eslint, typecheck

More robust way to determine the referendum ID (#104)
  src/tip-opengov.ts
  src/tip.integration.ts
  src/types.ts
  src/util.ts
Due: eslint, typecheck

Extract githubEmojiReaction.
  src/bot-handle-comment.ts
  src/types.ts
Due: eslint, typecheck

Extract the matrix notification parts
  src/bot-handle-comment.ts
  src/matrix.ts
Due: eslint, typecheck

Remove obsolete comment
  src/bot-handle-comment.ts
Due: eslint, typecheck

Extract UNKNOWN_ERROR_MSG
  src/bot-handle-comment.ts
Due: eslint, typecheck

Skip early if not mentioned (#109)
  src/bot-handle-comment.ts
Due: eslint, typecheck

Remove obsolete comment (#110)
  src/bot-handle-comment.ts
Due: eslint, typecheck

Lint
  src/bot-handle-comment.ts
Due: eslint, typecheck

Use opstooling integrations for emoji reactions
  package.json
  src/bot-handle-comment.ts
  yarn.lock
Due: eslint, prettier, typecheck

Various refactorings of the `bot-handle-comment.ts` file (#111)
  package.json
  src/bot-handle-comment.ts
  src/matrix.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier, typecheck

Refactor .then().catch() clause into a try-catch
  src/bot-handle-comment.ts
Due: eslint, typecheck

Error handling in util function
  src/bot-handle-comment.ts
  src/util.ts
Due: eslint, typecheck

Update tests
  src/util.test.ts
Due: eslint, typecheck

Finish - a user-facing error message is always defined
  src/bot-handle-comment.ts
  src/tip.ts
  src/types.ts
Due: eslint, typecheck

Update test
  src/util.test.ts
Due: eslint, typecheck

Refactor the flow of `bot-handle-comment.ts` (#112)
  src/bot-handle-comment.ts
  src/tip.ts
  src/types.ts
  src/util.test.ts
  src/util.ts
Due: eslint, typecheck

Don't tag the maintainers on known user errors
  src/bot-handle-comment.ts
  src/matrix.ts
Due: eslint, typecheck

Don't tag the maintainers on known user errors (#115)
  src/bot-handle-comment.ts
  src/matrix.ts
Due: eslint, typecheck

Optimize Dockerfile
  Dockerfile
Due: none

Optimize Dockerfile (#116)
  Dockerfile
Due: none

Update codeowners
  CODEOWNERS
Due: none

Update contact
  CODE_OF_CONDUCT.md
Due: none

yarn
  CONTRIBUTING.md
Due: none

Remove commented-out boilerplate
  app.yml
Due: none

Clean up readmes and configuration (#117)
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  app.yml
Due: none

Path conditions:
  eslint: any of: \.[^\.]*(t|j)s$
  prettier: any of: \.json$
  typecheck: any of: \.ts$
